In [5]:
import pandas as pd
import matplotlib.pyplot as plt
# we will use the %pylab inline so the graph appears in the notebook
import seaborn as sns

Once we have imported the necessary libraries we load the dataset

In [6]:
batting = pd.read_csv("Batting.csv")

Lets take a look at the dataset

In [7]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

As we can see there are some NaNs in the data set, so we decided to fill these blanks with 0 so we can make complete calculations. The fill with 0 is because we can understand that if a player has a record here he must have done something.

In [8]:
len(batting)

101332

In [9]:
batting_filled = batting.fillna(value=0)

In [10]:
batting_filled.dtypes

playerID     object
yearID        int64
stint         int64
teamID       object
lgID         object
G             int64
AB          float64
R           float64
H           float64
2B          float64
3B          float64
HR          float64
RBI         float64
SB          float64
CS          float64
BB          float64
SO          float64
IBB         float64
HBP         float64
SH          float64
SF          float64
GIDP        float64
dtype: object

##### What is the mean of the batting of the whole dataset and who has had the best year in history?

In [11]:
batting_filled['AB'].mean()

142.3498598665772

In [12]:
batting_filled['AB'].max()

716.0

In [19]:
batting_filled.iloc[batting_filled['AB'].argmax()]

playerID    rolliji01
yearID           2007
stint               1
teamID            PHI
lgID               NL
G                 162
AB                716
R                 139
H                 212
2B                 38
3B                 20
HR                 30
RBI                94
SB                 41
CS                  6
BB                 49
SO                 85
IBB                 5
HBP                 7
SH                  0
SF                  6
GIDP               11
Name: 89776, dtype: object

The calculations here has been done as if every entry was a different player. However, as we saw during the investigation of the data, there are several entries for the same player depending on the year player and sometimes changing the team too. In the next entries we will investigate different ways of treating the data, given that this way doesnt show the players development through the years

##### Who is the best player in history and what is the mean batting for a player

In [13]:
batting_group_player = batting_filled.groupby(['playerID'])

In [14]:
player_means = batting_group_player['AB'].mean()

In [15]:
player_means.mean()

84.50710972280667

In [16]:
player_means.max()

603.66666666666663

In [35]:
batting_cleared = batting_filled[batting_filled.AB != 0]

In [36]:
batting_cleared['AB'].mean()

166.9320217567411

In [37]:
len(batting_cleared)

86410